.padding {
  padding-top: 10px;
}

.form {
  margin-left: 200px;
  margin-bottom: 50px;
  margin-right: 200px;

  background-color: rgb(255, 255, 255);
  padding: 50px;

}

.bg {
  background-image: url('../../../icons/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.add-user {
  margin-left: 15px;
}