.padding {
  padding-top: 10px;
}

.form-login {
  margin-left: 10%;
  margin-right: 10%;
  background-color: rgb(255, 255, 255);
  padding: 20px;
}

.bg2 {
  /* background-image: url('../../../icons/bg.jpg'); */
  background-image: url('../../../icons/bg5.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
  height: 100%;
}

.add-user {
  text-align: center;
}