.padding {
  padding-top: 10px;
}

.form-login {
  margin-left: 200px;
  margin-right: 200px;
  background-color: rgb(255, 255, 255);
  padding: 50px;
}

.bg2 {
  background-image: url('../../../icons/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10%;
  height: 100%;
}

.add-user {
  margin-left: 15px;
}