.padding {
    padding-top: 10px;
}

.form-list {
    margin-top: 50px;
    margin-left: 200px;
    margin-bottom: 50px;
    margin-right: 200px;
    background-color: rgb(255, 255, 255);
    padding: 50px;
}

.add-user {
    margin-left: 15px;
}
.edit {
    color: blue !important;
    cursor: pointer;
    text-decoration: underline;
}
