.padding {
  padding-top: 10px;
}

.form {
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(255, 255, 255);
  padding: 25px;
}

.add-user {
  margin-left: 15px;
}

.add-group {
  cursor: pointer;
}

.border {
  border: 1px solid grey;
}

.list-group-item.active:hover {
  background-color: rgba(176, 54, 247);
  ;
  border-color: rgba(176, 54, 247);
  ;
}

.list-group-item.active,
.list-group-item.active:hover {
  background-color: rgb(176, 54, 247);
  ;
  border-color: rgba(176, 54, 247);
  ;
}

.chatbg {
  height: 85vh;
}

.eye {
  font-size: 20px;
  cursor: pointer;
}

.add-group {
  cursor: pointer;
}


.recieved {
  max-width: 40%;
  overflow-wrap: break-word;
  background: #E8B600;
  max-width: 50%;
  min-width: 150px;
  /* padding: 2px; */
  margin-left: 10px;
  margin-bottom: 5px;
  border-radius: 2px;
  color: #00498D;
}

.sended {
  justify-content: flex-end;

  .content {
    padding-left: 10px;
    max-width: 40%;
    color: #E8B600;
    margin-left: auto;
    margin-right: 10px;
    overflow-wrap: break-word;
    padding-right: 10px;
    border-radius: 6px;

    background-color: #00498D;
  }
}

.chat-back {
  padding-top: 20px;
  height: 80%;
  overflow-y: scroll
}



.time {
  text-align: center;
  margin-bottom: 10px;
}

.time span {
  background-color: #000000;
  display: inline-block;
  border-radius: 3px;
  text-align: center;
  padding: 2px 20px;
  color: #fff;
  opacity: 0.3;
}

.message {
  margin-bottom: 10px;
}

.message .messageText {
  text-align: left;
  color: #FFFFFF;
}

.message.sol {
  text-align: left;
}

.message.sag {
  text-align: right;
}

.message .resim {
  background: rgba(176, 54, 247) none no-repeat center;
  vertical-align: text-top;
  background-size: cover;
  display: inline-block;
  position: relative;
  color: #FFFFFF;
  height: 40px;
  width: 40px;
}

.message .messageText {
  background-color: rgba(176, 54, 247);
  ;
  vertical-align: text-top;
  display: inline-block;
  position: relative;
  line-height: 20px;
  max-width: 165px;
  color: #FFFFFF;
  padding: 10px;
}

.message.left .userPortrait,
.message.sag .messageText {
  border-radius: 5px 0 0 5px;
}

.message.sag .userPortrait,
.message.sol .messageText {
  border-radius: 0 5px 5px 0;
}

.message.mtLine.sol .messageText {
  border-radius: 0 5px 5px 0;
}

.message.mtLine.sag .messageText {
  border-radius: 5px 0 0 5px;
}

.message .messageText:before {
  border-color: transparent rgba(176, 54, 247);
  ;
  border-style: solid;
  position: absolute;
  border-width: 0;
  display: block;
  content: "";
  z-index: 1;
}

.message.sol .messageText:before {
  border-width: 0 10px 10px 0;
  left: -10px;
  top: 0;
}

.message.sag .messageText:before {
  border-width: 10px 0 0 10px;
  right: -10px;
  top: 30px;
}

.message .messageText:after {
  content: attr(data-time);
  color: rgba(103, 101, 101, 0.912);
  position: absolute;
  line-height: 20px;
  display: block;
  bottom: 2px;
  z-index: 1;
  font-size: 13px;
}

.message.sol .messageText:after {
  margin-left: 5px;
  left: 100%;
}

.message.sag .messageText:after {
  margin-right: 5px;
  right: 100%;
}

.badge {
  cursor: pointer;
}

.list-group {
  max-height: calc(70vh - 80px);
  margin-bottom: 10px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.button {
  float: right;
  border: transparent;
  outline: transparent;
  color: white;
  background-color: red;
  border-radius: 5px;
}

.button-green {
  float: right;
  border-radius: 5px;
  border: transparent;
  outline: transparent;
  color: white;
  background-color: rgb(14, 241, 165);
}

.lister {
  margin-left: 20px;
  margin-right: 20px;

}

.col-text {
  background-color: white;
  padding: 5px;
  width: 70%;
  border-radius: 3px;
  margin-left: 33px;
  margin-bottom: 5px;
  margin-top: 5px;

  margin-right: 33px;

}

.group-heading {
  background-color: white;
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(176, 54, 247);
  cursor: pointer;
}

#header {
  position: relative;
  height: 90%;
  width: 100%;
  padding: 8px;
}

#header-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.form3 {
  padding-top: 20px;
}