.inputFields {
  /* margin: 15px 0; */
  font-size: 16px;
  padding: 10px;
  width: 30vw;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(200, 242, 245, 0.468);
  color: rgb(6, 109, 37);
  outline: none;
}

.inputFields:invalid {
  border: 1px solid #fa0303;
}

.inputFields:active {
  /* margin: 15px 0; */
  font-size: 16px;
  padding: 10px;
  width: 30vw;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(200, 242, 245, 0.468);
  color: rgb(6, 109, 37);
  outline: none;
}

.inputFields:focus {
  /* margin: 15px 0; */
  font-size: 16px;
  padding: 10px;
  width: 30vw;
  border: 1px solid rgba(10, 180, 180, 1);
  border-top: none;
  border-left: none;
  border-right: none;
  background: rgba(200, 242, 245, 0.468);
  color: rgb(6, 109, 37);
  outline: none;
}

.error {
  color: #fa0303;

}